[submodule "ccpp-framework"]
	path = ccpp/framework
	url = https://github.com/NCAR/ccpp-framework
	branch = main
[submodule "ccpp-physics"]
	path = ccpp/physics
	url = https://github.com/bluefinweiwei/ccpp-physics
	branch = mmm_phy
[submodule "CMakeModules"]
	path = CMakeModules
	url = https://github.com/noaa-emc/CMakeModules
	branch = develop
